<nav>
    <div class="site-title">
      <a href="/"><h1>My Blog</h1></a>
      <p>Blogging WebSite</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/create">Add Blog</a></li>
    </ul>
  </nav>